.connecter {
    font-weight: bold;
}

#connexion > * {
    text-align: center;
}

#connexion {
    width: 50%;
    margin: auto;
}

#connexion h2 {
    margin-bottom: 20px;
}

#connexion form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#connexion input {
    height: 50px;
    border: none;
    font-size: 1.2em;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#connexion label {
    margin: 2em 0 1em 0;;
} 

#connexion a {
    display: flex;
    justify-content: center;
    color: black;
}

main {
    margin-bottom: 300px;
}
